<div class="breadcrumb-wrapper">
    <div class="container">
        <h1><i class="fa fa-cutlery"></i>Mes recettes</h1>
    </div>
</div>
<div class="container padding-30 container-height ">
	{{recipes-list-index recipes=model}}
</div>
