<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>
        	<i class="fa fa-cutlery"></i>{{model.name}}
        </h1>
    </div>
</div>
<div class="container padding-30 container-height ">
	{{recipes-show recipe=model}}
</div>
