{{header-navigation}}

<div class="main-container">
	{{outlet}}	
</div>

<div class="footer-bottom">
    <div class="container text-center">
        <h3><a href="">CookBook</a></h3>
        <span class="copyright">&copy; Copyright 2016, Made with <<i class="fa fa-heart" style="color:#ef6464"></i> By Adrien Bouttier.</span>
    </div>
</div>
