<article class="content">           
    <div class="rev_slider_wrapper" style="overflow: visible; height: 500px;background-image: url(pasta.jpg);background-position: center;">
        <div style="padding: 13% 0 0 15%;
    text-transform: uppercase;
    font-weight: bold;
    color: #F3f3f3;
    font-size: 25px;
    ">
            Enregistrer & retrouver<br />
            vos recettes de cuisine<br />
            facilement <br />
            sur votre compte cookbook
        </div>
        <div style="padding: 3% 60%;
    text-transform: uppercase;
    font-weight: bold;
    color: #F3f3f3;
    font-size: 25px;">
            <a href="#" class="btn btn-skin btn-lg btn-classic">Commencer maintenant</a>
        </div>
    </div>          
</article>